# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django==3.2.3
psycopg2-binary>=2.8
gunicorn==20.0.4
python-dotenv

# packages for analysis
numpy==1.19
notebook==6.4
pandas==1.2.4
matplotlib
networkx


# for coding style 
black

# web-scraping
requests
lxml
beautifulsoup4==4.6.0
scrapy

# selenium related packages
selenium
xlrd
pyvirtualdisplay